folium==0.19.4
geopandas==1.0.1
numpy==2.3.2
opencv_python_headless==4.11.0.86
pandas==2.3.1
plotly==6.0.0
python-dotenv==1.1.1
rasterio==1.4.3
streamlit==1.42.2
streamlit_folium==0.24.0
sqlalchemy==2.0.42
psycopg==2.9.10